@import "tailwindcss";

@theme {
  --font-family-sans: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* Or use inline to override defaults */
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: var(--font-family-sans);
  background-color: #09090b;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes shine {
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: -200% center;
  }
}

.animate-shine {
  animation: shine 8s linear infinite;
}